@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* navbar css */
nav {
    background-color: rgba(235, 114, 130, 0.938);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo a{
    text-decoration: none;
    color: white;
}

.menu{
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    display: inline; 
    /* background-color: yellow; */
    margin: 0 1em;
    padding: 5px;
}
.menu ul li a{
    /* user-select: none; user ga bisa select */
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    text-decoration: none;
    color: rgba(109, 24, 102, 0.698);
}

.header-by {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
}
.content-home {
    width: 80%;
    padding: 1em;
    margin: 1em auto;
}
.content-home-judul {
    width: 800px;
    padding: 1em;
    margin: 1em auto;
    padding-bottom: 0%;
    margin-bottom: 0.3em;
}
.content-home-foto {
    /* width: 800px; */
    width: 1025px;
    padding: 1em;
    padding-top: 0%;
    margin: 1em auto;
}
.header-home-judul {    
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.header-home-judul-surat {    
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.header-home-a {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.image-home {
    background-image: url(./image/cumiKebo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.image-home2 {
    background-image: url(./image/cumiKebo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.textcontent-home {
    /* text-indent: *px; buat masuk ke dalam   */
    /* text-indent: 100px;  */
    text-align: justify;
    font-size: 18px;
    color: chocolate;
    /* display: flex; */
    /* align-items: center; */
}

.button {
    display: flex;
    justify-content: center;
}

.button-click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 3em;
    border-radius: 0.5em;
    background: rgba(235, 114, 130, 0.938);
}

.button-click a{
    text-decoration: none;
    color: black;
}

.button-click:hover{
    background-color: rgba(235, 114, 130, 0.712);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px 0px 40px;
}
.img {
    background-image: url(./image/Cumi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    width: 510px;
    height: 460px;
}
.ket {
    font-size: 7px;
    text-indent: 80px;
    color: rgb(214, 209, 209);
}